body{
    background-color: black;
    color: white !important;
}
.acnav>a{
    color: white !important;
    font-size: 25px !important;
    padding: 0px 25px 0px 25px ;
    position:relative;
    left: 550px;
    bottom: 120px;
}
#mySidebar>a:hover{
    background-color: white;
    color: black;
}
.closebtn{
    display: none;
}
.com{
    position: relative;
    bottom:20px;
}
h3,h4{
    display: inline;
}
.quote{
    text-align: center;
}
.openbtn{
    display: none;
}
@media only screen and (max-width: 400px) {
    #mySidebar>a{
        display: none;
    }
    h3,h4{
        display:block;
        font-size: 55px;
    }
    h5{
        position: relative;
        top:100px;
    }
    .openbtn{
        display: inline;
        position: absolute;
        top:50px;
        right:0px;
        color: white !important;
        font-size: 25px;
    }
    .sidebar{
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #000; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    .closebtn{
        display: block;
        position: absolute;
        top:0px;
        left:0px

    }
    .acnav>a{
        color: white !important;
        display: block;
        font-size: 30px;
        position: relative;
        left:150px;
    }
    .des{
        font-size:30px;
    }
}